#grey{
    background: grey;
}
#yellow{
    background:yellow;
}
#blue{
    background:blue;
}
#white{
    background: white;
}
.button{
    width:100px;
    height:100px;
    border:solid black 2px;
    display: inline-block;
}
.canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
  }